.reg_content-box{
    margin-top: 5%;
    display: inline-block;
    width:100%;
}
.reg_image-icon img{
    width:250px;
    height:250px;
    /* display: inline; */
    float: left;
    margin-right: 30px;
    margin-bottom:100px;
}
.reg_image-icon{
    width:300px;
    height: 300px;
    margin-bottom: 100px;
    display:inline;
}
.reg_content-box label{
    margin: 5px;
}
.reg_content-box input{
    margin-top: 15px;
    margin-bottom: 15px;
    width:90%
}
.reg_set-inputs{
    display: inline-block;
    width: 30%;
    height: 100px;
}
.reg_submit{
    justify-content:center;
    display:flex;
}
.reg_submit button{
    font-size:16px;
    padding:10px;
    border-radius: 20px;
    background-color: bisque;  
}
input{
    height:30px;
    border-radius:30px;
    padding:5px;
}

.reg_submit button:active{
    background-color: #3e8e41;
    box-shadow: 0 2px #666;
    transform: translateY(2px);
}