
*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
body{
  background-image: url(../assets/backgroundHome.jpeg);
  background-position: center;
  background-repeat: no-repeat;
}
.tool-bar{
  backdrop-filter: blur(5px) 
  saturate(70%);
  background-color: rgba(163, 83, 83, 0.5);
  padding: 10px;
}

body{
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  max-height: 100%;
  max-width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.logo{
  display: flex;
  justify-content: space-between;
  padding: 10px;
  margin-right: 3%;
}

.top-menu{
  padding: 3px;
  font-size: 20px;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 15%;
}
.top-menu li:hover{
  color: black;
  box-shadow: rgba(255,255,255,.2);
  text-decoration: solid;
  cursor: pointer;
}

.top-menu li{
  color: white;
}