.heading {
    margin-top: 30px;
    text-align: center;
    font-size: 1.5em;
    margin-bottom: 50px;
}

.content-box {
    margin-top: 5%;
    width: 100%;
    text-align: center;
}

.image-icon img {
    width: 250px;
    height: 250px;
    margin-bottom: 30px;
}

.set-inputs {
    width: 30%;
    margin: 0 auto;
}

.set-inputs label {
    display: block;
    margin-bottom: 10px;
}

.set-inputs input {
    width: 60%;
    height: 30px;
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 10px; 
}

.submit {
    text-align: center;
    margin-top: 20px;
}

.submit button {
    font-size: 16px;
    padding: 10px 20px;
    border-radius: 5px;
}